body{
	margin: 0;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 20px;
	line-height: 30px;

}

header{
	text-align: center;
	background-color: black;
  

}
h1, h2{
	font-family: 'Bebas Neue', cursive;
}
header h1{
	color: white;

}

header img{
	border-radius: 150px; 
	width: 300px;

}
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	margin: 40px 0px 10px;

}

a{
	color: black;

}
a: hover{
background-color: blue;
}

footer{
	background-color: black;
	color: white;
	text-align: center;
	padding:50px;
}
footer p{
	margin: 0;
}

p.caption{
	color: grey;
    font-style:italic;
    margin-top: 0;
}